@use '../../styles/variables' as global;

.genrelistStyle {
  border-right: 1px solid black;
  ul {
    list-style-type: none;

    li {
      font-family: global.$font-content;
      cursor: pointer;
    }
  }
}
