@use '../../styles/variables' as global;

.detailedPosterStyle {
  display: flex;
  height: 50vh;
  gap: 1rem;
  figcaption {
    article {
      font-family: global.$font-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      width: 100%;
      gap: 1rem;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    div {
      display: flex;

      input {
        text-align: center;
      }
    }
  }
}
