@use '../../styles/variables' as global;

.detailedPosterStyle {
  margin-left: 1rem;
  display: flex;
  max-height: 50vh;
  gap: 1rem;
  color: global.$text-color;

  figcaption {
    article {
      font-family: global.$font-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      width: 100%;
      gap: 1rem;

      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 1rem;

        form {
          display: flex;
          gap: 0.25rem;
          align-items: center;

          input {
            text-align: center;
            height: 2rem;
          }
        }

        div {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
