@use '../../styles/variables' as global;

.formStyles {
  font-family: global.$font-content;
  display: flex;
  flex-direction: column;
  width: 30vh;
  gap: 0.25rem;

  span {
    color: global.$primary-color;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    border-top: 1px solid global.$border-color;
  }
}
