@import '../../styles/variables';

.homeCard {
  display: flex;
  text-align: left;
  font-family: $font-content;
  gap: 0.5rem;
  height: 30vh;
  color: $text-color;
  img {
    width: 140px;
    height: 100%;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
