@import '../../styles/_variables';

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aa8c7f;
  h1 {
    color: $primary-color;
    font-family: $font-main;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5rem;
  }
}
