@use '../../styles/variables' as globals;

.layoutContainer {
  margin-top: 0;
  background-color: globals.$secondary-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;
}
