@use '../../styles/variables' as global;

.paginationStyle {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-left: 1rem;
  margin-top: -2rem;
  text-align: center;
  a {
    display: inline-block;
    width: 16px;
    text-decoration: none;
    padding: 1rem;
    background-color: global.$border-color;
  }
}
