@use '../../styles/variables' as global;

.footerStyle {
  border-top: 1px solid global.$border-color;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem 1rem 0rem;
  margin-top: auto;
  color: global.$text-color;

  h4 {
    font-size: 1.125rem;
    color: global.$primary-color;
    font-family: global.$font-main;
  }

  ul {
    list-style-type: none;
    li {
      margin: 0;
      font-family: global.$font-content;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.footerLists {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  ul:last-of-type {
    margin-top: 0.25rem;
  }
}

.socialsStyle {
  color: global.$icons-color;
}
