.posterStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;

  img {
    max-width: 160px;
    margin-right: 16px;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  span {
    font-size: 0.8rem;
    display: inline-block;
  }

  p {
    font-size: 0.9rem;
  }
}
