@use '../../styles/variables' as global;

.posterStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 33%;
  color: global.$text-color;
  img {
    max-width: 160px;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  span {
    font-size: 0.8rem;
    display: inline-block;
  }

  p {
    font-size: 0.9rem;
  }
}
