@use './assets/styles/variables' as globals;

:root {
  --accentColor: #d97852;
  --background: #f9f9f9;
  --fontstack: 'Titillium Web', 'sans-serif';
  --contentfontstack: 'Open sans', 'sans-serif';
}

body {
  background-color: globals.$background-color;
}

:root,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
