@use '../../styles/variables' as global;

.sortStyle {
  position: absolute;
  z-index: 9999;
  width: 7vw;
  background-color: white;
  right: 0;
  ul {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 3px;
    font-family: global.$font-content;
    li {
      margin-left: 0.25rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    li:hover {
      cursor: pointer;
    }
  }
}
