$primary-color: #d97852;
$secondary-color: #f9f9f9;
$background-color: #5c1f06;
$text-color: #524641;
$border-color: #d1b3a7;
$icons-color: #cccccc;
$font-main: 'Titillium Web', sans-serif;
$font-content: 'Open Sans', sans-serif;
